<form action="index.php" method="post">

	Subject: <input type="text" name="title">
	Content:<br />
	<textarea name="conent" rows="10" cols="30">
	Severity: <select name="severity">
		<option value="unknown">Unknown</option>
	</select>
	Priority: <select name="priority">
		<option value="unknown">Unknown</option>
	</select>
	Component: <select name="component">
		<option value="unknown">Unknown</option>
	</select>
	Version: <select name="version">
		<option value="unknown">Unknown</option>
	</select>
	<input type="submit" value="submit">
</form>
